{% extends 'base.html.twig' %}

{% block title %}Liste des produits de la catégorie{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Liste des produits de la catégorie {{category.name}}</h1>
                {% for product in products.data %}
                    <div class="col-3">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">{{product.name}}</h2>
                                <div class="card-text">{{product.description}}</div>
                                <a href="{{path('app_products_details',{"slug":product.slug})}}" class="btn btn-primary">Voir les détails</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% set path = 'app_categories_list' %}
                {% set pages = products.pages %}
                {% set slug = category.slug %}
                {% set currentPage = products.page %}
                {% include('_partials/_pagination.html.twig') %}
            </div>
        </section>
    </main>
{% endblock %}
